# [QLMayTinh]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [QLMayTinh]    Script Date: 12/26/2022 4:34:52 PM ******/
CREATE DATABASE [QLMayTinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMayTinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLMayTinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLMayTinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLMayTinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [QLMayTinh] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [QLMayTinh] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [QLMayTinh] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [QLMayTinh] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [QLMayTinh] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [QLMayTinh] SET ARITHABORT OFF 
GO
ALTER DATABASE [QLMayTinh] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [QLMayTinh] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [QLMayTinh] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [QLMayTinh] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [QLMayTinh] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [QLMayTinh] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [QLMayTinh] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [QLMayTinh] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [QLMayTinh] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [QLMayTinh] SET  DISABLE_BROKER 
GO
ALTER DATABASE [QLMayTinh] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [QLMayTinh] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [QLMayTinh] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [QLMayTinh] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [QLMayTinh] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [QLMayTinh] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [QLMayTinh] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [QLMayTinh] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [QLMayTinh] SET  MULTI_USER 
GO
ALTER DATABASE [QLMayTinh] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [QLMayTinh] SET DB_CHAINING OFF 
GO
ALTER DATABASE [QLMayTinh] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [QLMayTinh] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [QLMayTinh] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [QLMayTinh] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [QLMayTinh] SET QUERY_STORE = OFF
GO

# [dbo].[CT_Hoa_Don]

In [0]:
USE [QLMayTinh]
GO

In [0]:
/****** Object:  Table [dbo].[CT_Hoa_Don]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Hoa_Don](
	[MaCTHD] [int] NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[GhiChu] [varchar](250) NULL,
 CONSTRAINT [PK_CT_Hoa_Don] PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CT_Phieu_Nhap]

In [0]:
/****** Object:  Table [dbo].[CT_Phieu_Nhap]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Phieu_Nhap](
	[MaCTPN] [int] NOT NULL,
	[MaPNK] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TongTien] [int] NULL,
	[GhiChu] [varchar](250) NULL,
 CONSTRAINT [PK_CT_Phieu_Nhap] PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CT_San_Pham]

In [0]:
/****** Object:  Table [dbo].[CT_San_Pham]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_San_Pham](
	[MaCTSP] [int] NOT NULL,
	[MaCTPN] [int] NOT NULL,
	[MaCTHD] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_San_Pham] PRIMARY KEY CLUSTERED 
(
	[MaCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Danh_Gia]

In [0]:
/****** Object:  Table [dbo].[Danh_Gia]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Gia](
	[MaDanhGia] [int] NOT NULL,
	[MaTk] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[BinhLuan] [varchar](250) NULL,
	[XepHang] [int] NULL,
 CONSTRAINT [PK_Danh_Gia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Hoa_Don]

In [0]:
/****** Object:  Table [dbo].[Hoa_Don]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_Don](
	[MaHoaDon] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaTk] [int] NOT NULL,
	[ThoiGianMua] [date] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[GhiChu] [varchar](250) NULL,
 CONSTRAINT [PK_Hoa_Don] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Loai_TK]

In [0]:
/****** Object:  Table [dbo].[Loai_TK]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_TK](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Loai_TK] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Phieu_Nhap]

In [0]:
/****** Object:  Table [dbo].[Phieu_Nhap]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phieu_Nhap](
	[MaPNK] [int] NOT NULL,
	[MaTk] [int] NOT NULL,
	[LoaiPhieu] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [varchar](250) NULL,
 CONSTRAINT [PK_Phieu_Nhap] PRIMARY KEY CLUSTERED 
(
	[MaPNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[San_Pham]

In [0]:
/****** Object:  Table [dbo].[San_Pham]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham](
	[MaSanPham] [int] NOT NULL,
	[MaThuongHieu] [int] NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[MoTa] [varchar](250) NULL,
	[Anh] [varchar](250) NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [float] NOT NULL,
	[GiaNhap] [float] NOT NULL,
	[GhiChu] [varchar](250) NULL,
 CONSTRAINT [PK_San_Pham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Tai_Khoan]

In [0]:
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_Khoan](
	[MaTk] [int] NOT NULL,
	[HoVaTen] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[MaLoai] [int] NOT NULL,
 CONSTRAINT [PK_Tai_Khoan] PRIMARY KEY CLUSTERED 
(
	[MaTk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Thuong_Hieu]

In [0]:
/****** Object:  Table [dbo].[Thuong_Hieu]    Script Date: 12/26/2022 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuong_Hieu](
	[MaThuongHieu] [int] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Thuong_Hieu] PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CT_Hoa_Don]

In [0]:
INSERT [dbo].[CT_Hoa_Don] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [GhiChu]) VALUES (1, 1, 1, 1, 28000000, NULL)
INSERT [dbo].[CT_Hoa_Don] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [GhiChu]) VALUES (2, 2, 2, 1, 35000000, NULL)
INSERT [dbo].[CT_Hoa_Don] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [GhiChu]) VALUES (3, 3, 3, 1, 60000000, NULL)
INSERT [dbo].[CT_Hoa_Don] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [GhiChu]) VALUES (4, 4, 4, 1, 35000000, NULL)
INSERT [dbo].[CT_Hoa_Don] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [GhiChu]) VALUES (5, 5, 5, 1, 23000000, NULL)
GO

# [dbo].[CT_Phieu_Nhap]

In [0]:
INSERT [dbo].[CT_Phieu_Nhap] ([MaCTPN], [MaPNK], [MaSanPham], [SoLuong], [TongTien], [GhiChu]) VALUES (1, 1, 1, 1, 25000000, NULL)
INSERT [dbo].[CT_Phieu_Nhap] ([MaCTPN], [MaPNK], [MaSanPham], [SoLuong], [TongTien], [GhiChu]) VALUES (2, 2, 2, 1, 30000000, NULL)
INSERT [dbo].[CT_Phieu_Nhap] ([MaCTPN], [MaPNK], [MaSanPham], [SoLuong], [TongTien], [GhiChu]) VALUES (3, 3, 3, 1, 56000000, NULL)
INSERT [dbo].[CT_Phieu_Nhap] ([MaCTPN], [MaPNK], [MaSanPham], [SoLuong], [TongTien], [GhiChu]) VALUES (4, 4, 4, 1, 20000000, NULL)
INSERT [dbo].[CT_Phieu_Nhap] ([MaCTPN], [MaPNK], [MaSanPham], [SoLuong], [TongTien], [GhiChu]) VALUES (5, 5, 5, 1, 18000000, NULL)
GO

# [dbo].[CT_San_Pham]

In [0]:
INSERT [dbo].[CT_San_Pham] ([MaCTSP], [MaCTPN], [MaCTHD], [MaSanPham], [ID]) VALUES (1, 1, 1, 1, N'21313135')
INSERT [dbo].[CT_San_Pham] ([MaCTSP], [MaCTPN], [MaCTHD], [MaSanPham], [ID]) VALUES (2, 2, 2, 2, N'12313133')
INSERT [dbo].[CT_San_Pham] ([MaCTSP], [MaCTPN], [MaCTHD], [MaSanPham], [ID]) VALUES (3, 3, 3, 3, N'13134512')
INSERT [dbo].[CT_San_Pham] ([MaCTSP], [MaCTPN], [MaCTHD], [MaSanPham], [ID]) VALUES (4, 4, 4, 4, N'45464564')
INSERT [dbo].[CT_San_Pham] ([MaCTSP], [MaCTPN], [MaCTHD], [MaSanPham], [ID]) VALUES (5, 5, 5, 5, N'46479889')
GO

# [dbo].[Danh_Gia]

In [0]:
INSERT [dbo].[Danh_Gia] ([MaDanhGia], [MaTk], [MaSanPham], [BinhLuan], [XepHang]) VALUES (1, 1, 1, N'Tuyet voi', 5)
INSERT [dbo].[Danh_Gia] ([MaDanhGia], [MaTk], [MaSanPham], [BinhLuan], [XepHang]) VALUES (2, 2, 2, N'Tuyet voi', 4)
INSERT [dbo].[Danh_Gia] ([MaDanhGia], [MaTk], [MaSanPham], [BinhLuan], [XepHang]) VALUES (3, 3, 3, N'Tuyet voi', 5)
INSERT [dbo].[Danh_Gia] ([MaDanhGia], [MaTk], [MaSanPham], [BinhLuan], [XepHang]) VALUES (4, 4, 4, N'Tuyet voi', 5)
INSERT [dbo].[Danh_Gia] ([MaDanhGia], [MaTk], [MaSanPham], [BinhLuan], [XepHang]) VALUES (5, 5, 5, N'Tuyet voi', 4)
GO

# [dbo].[Hoa_Don]

In [0]:
INSERT [dbo].[Hoa_Don] ([MaHoaDon], [MaSanPham], [MaTk], [ThoiGianMua], [TrangThai], [GhiChu]) VALUES (1, 1, 5, CAST(N'2022-02-22' AS Date), 2, NULL)
INSERT [dbo].[Hoa_Don] ([MaHoaDon], [MaSanPham], [MaTk], [ThoiGianMua], [TrangThai], [GhiChu]) VALUES (2, 2, 5, CAST(N'2023-02-22' AS Date), 5, NULL)
INSERT [dbo].[Hoa_Don] ([MaHoaDon], [MaSanPham], [MaTk], [ThoiGianMua], [TrangThai], [GhiChu]) VALUES (3, 3, 1, CAST(N'2023-02-22' AS Date), 3, NULL)
INSERT [dbo].[Hoa_Don] ([MaHoaDon], [MaSanPham], [MaTk], [ThoiGianMua], [TrangThai], [GhiChu]) VALUES (4, 4, 2, CAST(N'2023-02-22' AS Date), 1, NULL)
INSERT [dbo].[Hoa_Don] ([MaHoaDon], [MaSanPham], [MaTk], [ThoiGianMua], [TrangThai], [GhiChu]) VALUES (5, 5, 3, CAST(N'2023-02-22' AS Date), 3, NULL)
GO

# [dbo].[Loai_TK]

In [0]:
INSERT [dbo].[Loai_TK] ([MaLoai], [TenLoai]) VALUES (1, N'Nha cung cap')
INSERT [dbo].[Loai_TK] ([MaLoai], [TenLoai]) VALUES (2, N'Nhan vien lap')
INSERT [dbo].[Loai_TK] ([MaLoai], [TenLoai]) VALUES (3, N'Nguoi lap hoa don')
INSERT [dbo].[Loai_TK] ([MaLoai], [TenLoai]) VALUES (4, N'Nguoi dat')
INSERT [dbo].[Loai_TK] ([MaLoai], [TenLoai]) VALUES (5, N'Admin')
GO

# [dbo].[Phieu_Nhap]

In [0]:
INSERT [dbo].[Phieu_Nhap] ([MaPNK], [MaTk], [LoaiPhieu], [TrangThai], [GhiChu]) VALUES (1, 1, N'Du kien', N'Off', NULL)
INSERT [dbo].[Phieu_Nhap] ([MaPNK], [MaTk], [LoaiPhieu], [TrangThai], [GhiChu]) VALUES (2, 2, N'Hoa don nhap', N'On', NULL)
INSERT [dbo].[Phieu_Nhap] ([MaPNK], [MaTk], [LoaiPhieu], [TrangThai], [GhiChu]) VALUES (3, 3, N'Du kien', N'Off', NULL)
INSERT [dbo].[Phieu_Nhap] ([MaPNK], [MaTk], [LoaiPhieu], [TrangThai], [GhiChu]) VALUES (4, 4, N'Hoa don nhap', N'On', NULL)
INSERT [dbo].[Phieu_Nhap] ([MaPNK], [MaTk], [LoaiPhieu], [TrangThai], [GhiChu]) VALUES (5, 5, N'Du kien', N'Off', NULL)
GO

# [dbo].[San_Pham]

In [0]:
INSERT [dbo].[San_Pham] ([MaSanPham], [MaThuongHieu], [TenSP], [MoTa], [Anh], [SoLuong], [GiaBan], [GiaNhap], [GhiChu]) VALUES (1, 1, N'Asus Vivobook', NULL, NULL, NULL, 28000000, 25000000, NULL)
INSERT [dbo].[San_Pham] ([MaSanPham], [MaThuongHieu], [TenSP], [MoTa], [Anh], [SoLuong], [GiaBan], [GiaNhap], [GhiChu]) VALUES (2, 1, N'Asus Tuf Gaming', NULL, NULL, NULL, 35000000, 30000000, NULL)
INSERT [dbo].[San_Pham] ([MaSanPham], [MaThuongHieu], [TenSP], [MoTa], [Anh], [SoLuong], [GiaBan], [GiaNhap], [GhiChu]) VALUES (3, 2, N'Dell XPS', NULL, NULL, NULL, 60000000, 56000000, NULL)
INSERT [dbo].[San_Pham] ([MaSanPham], [MaThuongHieu], [TenSP], [MoTa], [Anh], [SoLuong], [GiaBan], [GiaNhap], [GhiChu]) VALUES (4, 2, N'Dell Inspiron', NULL, NULL, NULL, 35000000, 20000000, NULL)
INSERT [dbo].[San_Pham] ([MaSanPham], [MaThuongHieu], [TenSP], [MoTa], [Anh], [SoLuong], [GiaBan], [GiaNhap], [GhiChu]) VALUES (5, 3, N'Msi gf63 thin 9rcx', NULL, NULL, NULL, 23000000, 18000000, NULL)
INSERT [dbo].[San_Pham] ([MaSanPham], [MaThuongHieu], [TenSP], [MoTa], [Anh], [SoLuong], [GiaBan], [GiaNhap], [GhiChu]) VALUES (6, 1, N'dasdasddada', NULL, N'/Content/image/c4f3cd674e7eeb5baac25812628261d9.jpg', NULL, 35000000, 18000000, N'dasdasda')
INSERT [dbo].[San_Pham] ([MaSanPham], [MaThuongHieu], [TenSP], [MoTa], [Anh], [SoLuong], [GiaBan], [GiaNhap], [GhiChu]) VALUES (8, 1, N'dasdasddada3ddd', N'dsadas', N'/Content/image/z3886233591493_74d3607d45adce20a4bbc350d3ef4a32.jpg', 4, 35000000, 50000000, NULL)
GO

# [dbo].[Tai_Khoan]

In [0]:
INSERT [dbo].[Tai_Khoan] ([MaTk], [HoVaTen], [Phone], [TenDangNhap], [MatKhau], [MaLoai]) VALUES (1, N'Bui Van A', N'0976425270', N'admin', N'admin', 5)
INSERT [dbo].[Tai_Khoan] ([MaTk], [HoVaTen], [Phone], [TenDangNhap], [MatKhau], [MaLoai]) VALUES (2, N'Bui Van B', N'0976425270', N'nhanvienlap', N'nhanvienlap', 2)
INSERT [dbo].[Tai_Khoan] ([MaTk], [HoVaTen], [Phone], [TenDangNhap], [MatKhau], [MaLoai]) VALUES (3, N'Bui Van C', N'0976425270', N'nhanvienlaphoadon', N'nhanvienlaphoadon', 3)
INSERT [dbo].[Tai_Khoan] ([MaTk], [HoVaTen], [Phone], [TenDangNhap], [MatKhau], [MaLoai]) VALUES (4, N'Bui Van D', N'0976425270', N'nhacungcap', N'nhacungcap', 1)
INSERT [dbo].[Tai_Khoan] ([MaTk], [HoVaTen], [Phone], [TenDangNhap], [MatKhau], [MaLoai]) VALUES (5, N'Bui Van E', N'0976425270', N'nguoidat', N'nguoidat', 4)
GO

# [dbo].[Thuong_Hieu]

In [0]:
INSERT [dbo].[Thuong_Hieu] ([MaThuongHieu], [Ten]) VALUES (1, N'Asus')
INSERT [dbo].[Thuong_Hieu] ([MaThuongHieu], [Ten]) VALUES (2, N'Dell')
INSERT [dbo].[Thuong_Hieu] ([MaThuongHieu], [Ten]) VALUES (3, N'Msi')
INSERT [dbo].[Thuong_Hieu] ([MaThuongHieu], [Ten]) VALUES (4, N'Lenovo')
INSERT [dbo].[Thuong_Hieu] ([MaThuongHieu], [Ten]) VALUES (5, N'HP')
GO

# [FK_CT_Hoa_Don_Hoa_Don]

In [0]:
ALTER TABLE [dbo].[CT_Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_CT_Hoa_Don_Hoa_Don] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[Hoa_Don] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CT_Hoa_Don] CHECK CONSTRAINT [FK_CT_Hoa_Don_Hoa_Don]
GO

# [FK_CT_Phieu_Nhap_Phieu_Nhap]

In [0]:
ALTER TABLE [dbo].[CT_Phieu_Nhap]  WITH CHECK ADD  CONSTRAINT [FK_CT_Phieu_Nhap_Phieu_Nhap] FOREIGN KEY([MaPNK])
REFERENCES [dbo].[Phieu_Nhap] ([MaPNK])
GO
ALTER TABLE [dbo].[CT_Phieu_Nhap] CHECK CONSTRAINT [FK_CT_Phieu_Nhap_Phieu_Nhap]
GO

# [FK_CT_San_Pham_CT_Hoa_Don]

In [0]:
ALTER TABLE [dbo].[CT_San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_CT_San_Pham_CT_Hoa_Don] FOREIGN KEY([MaCTHD])
REFERENCES [dbo].[CT_Hoa_Don] ([MaCTHD])
GO
ALTER TABLE [dbo].[CT_San_Pham] CHECK CONSTRAINT [FK_CT_San_Pham_CT_Hoa_Don]
GO

# [FK_CT_San_Pham_CT_Phieu_Nhap]

In [0]:
ALTER TABLE [dbo].[CT_San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_CT_San_Pham_CT_Phieu_Nhap] FOREIGN KEY([MaCTPN])
REFERENCES [dbo].[CT_Phieu_Nhap] ([MaCTPN])
GO
ALTER TABLE [dbo].[CT_San_Pham] CHECK CONSTRAINT [FK_CT_San_Pham_CT_Phieu_Nhap]
GO

# [FK_CT_San_Pham_San_Pham]

In [0]:
ALTER TABLE [dbo].[CT_San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_CT_San_Pham_San_Pham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[San_Pham] ([MaSanPham])
GO
ALTER TABLE [dbo].[CT_San_Pham] CHECK CONSTRAINT [FK_CT_San_Pham_San_Pham]
GO

# [FK_Danh_Gia_San_Pham]

In [0]:
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK_Danh_Gia_San_Pham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[San_Pham] ([MaSanPham])
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK_Danh_Gia_San_Pham]
GO

# [FK_Danh_Gia_Tai_Khoan]

In [0]:
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK_Danh_Gia_Tai_Khoan] FOREIGN KEY([MaTk])
REFERENCES [dbo].[Tai_Khoan] ([MaTk])
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK_Danh_Gia_Tai_Khoan]
GO

# [FK_Hoa_Don_Tai_Khoan]

In [0]:
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Tai_Khoan] FOREIGN KEY([MaTk])
REFERENCES [dbo].[Tai_Khoan] ([MaTk])
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_Hoa_Don_Tai_Khoan]
GO

# [FK_Phieu_Nhap_Tai_Khoan]

In [0]:
ALTER TABLE [dbo].[Phieu_Nhap]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_Nhap_Tai_Khoan] FOREIGN KEY([MaTk])
REFERENCES [dbo].[Tai_Khoan] ([MaTk])
GO
ALTER TABLE [dbo].[Phieu_Nhap] CHECK CONSTRAINT [FK_Phieu_Nhap_Tai_Khoan]
GO

# [FK_San_Pham_Thuong_Hieu]

In [0]:
ALTER TABLE [dbo].[San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Thuong_Hieu] FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[Thuong_Hieu] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[San_Pham] CHECK CONSTRAINT [FK_San_Pham_Thuong_Hieu]
GO

# [FK_Tai_Khoan_Loai_TK]

In [0]:
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD  CONSTRAINT [FK_Tai_Khoan_Loai_TK] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai_TK] ([MaLoai])
GO
ALTER TABLE [dbo].[Tai_Khoan] CHECK CONSTRAINT [FK_Tai_Khoan_Loai_TK]
GO

# [QLMayTinh]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [QLMayTinh] SET  READ_WRITE 
GO